body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #Projects {
  padding: 45px 32px 0px 32px;
}
#About {
  padding: 0px 32px 0px 32px;
}
#Contact {
  padding: 40px 32px 0px 32px;
} */
.All {
  padding: 25px;
}